<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <br/>
        <h1 class="col-md-12 text-left">Welcome To The Pipeline COE Demo!</h1>
        <div class="col-md-12 text-left">
            <a th:href="@{/addEmployee}" class="btn btn-primary btn-lg float-end">Add Employee</a>
        </div>
        <br/>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Reports To</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birth Date</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Postal Code</th>
                    <th>Fax</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employeeList}">
                    <td th:text="${employee.employeeId}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.title}"></td>
                    <td th:text="${employee.reportsTo}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.birthDate}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.city}"></td>
                    <td th:text="${employee.state}"></td>
                    <td th:text="${employee.country}"></td>
                    <td th:text="${employee.postalCode}"></td>
                    <td th:text="${employee.fax}"></td>
                    <td> <a th:href="@{/updateEmployee/{id}(id=${employee.employeeId})}" class="btn btn-primary">Update</a></td>
                    <td> <a th:href="@{/deleteEmployee/{id}(id=${employee.employeeId})}" class="btn btn-danger">Delete</a></td>

                </tr>
            </tbody>
        </table>
    </body>
</html>