<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
</html>

<div class="container">
    <h1>Manage Employees</h1>
    <hr>
    <h2>Add Employee</h2>
    <form action="#" th:action="@{/saveEmployee/}" th:object="${employee}", method="POST"> 
        <input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{title}" placeholder="Title" class="form-control mb-4 col-4">
        <input type="text" th:field="*{reportsTo}" placeholder="Reports To (ID)" class="form-control mb-4 col-4">
        <input type="text" th:field="*{email}" placeholder="Employee Email" class="form-control mb-4 col-4">
        <input type="text" th:field="*{phone}" placeholder="Employee Phone" class="form-control mb-4 col-4">
        <input type="text" th:field="*{birthDate}" placeholder="Employee BirthDate" class="form-control mb-4 col-4">
        <input type="text" th:field="*{address}" placeholder="Employee Address" class="form-control mb-4 col-4">
        <input type="text" th:field="*{city}" placeholder="Employee City" class="form-control mb-4 col-4">
        <input type="text" th:field="*{state}" placeholder="Employee State" class="form-control mb-4 col-4">
        <input type="text" th:field="*{country}" placeholder="Employee Country" class="form-control mb-4 col-4">
        <input type="text" th:field="*{postalCode}" placeholder="Employee Postal Code" class="form-control mb-4 col-4">
        <input type="text" th:field="*{fax}" placeholder="Employee Fax" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info btn-lg col-2">Save To DB</button>

    </form>
    <hr>
    <a th:href="@{/}"> Back To Employee List</a>

</div>