<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h1>Manage Employees</h1>
            <hr>
            <h2>Update Employee</h2>
            <form action="#" th:action="@{/updateSaveEmployee/{id}(id=${employee.employeeId})}" th:object="${employee}", method="POST"> 
                <input type="hidden" th:field="*{employeeId}" />
                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input type="text" th:field="*{title}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputReportsTo">Reports To (ID)</label>
                    <input type="text" th:field="*{reportsTo}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" th:field="*{email}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone</label>
                    <input type="text" th:field="*{phone}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputBirthDate">Birth Date</label>
                    <input type="text" th:field="*{birthDate}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" th:field="*{address}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputCity">City</label>
                    <input type="text" th:field="*{city}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputState">State</label>
                    <input type="text" th:field="*{state}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputCountry">Country</label>
                    <input type="text" th:field="*{country}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputPostalCode">Postal Code</label>
                    <input type="text" th:field="*{postalCode}" class="form-control mb-4 col-4">
                </div>
                <div class="form-group">
                    <label for="inputFax">Fax</label>
                    <input type="text" th:field="*{fax}" class="form-control mb-4 col-4">
                </div>
        
                <button type="submit" class="btn btn-info btn-lg col-2">Update Employee</button>
        
            </form>

            <hr>
            <a th:href="@{/}"> Back To Employee List</a>
        
        </div>
    </body>
</html>